<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../css/allquestions.css">
<link rel="stylesheet" href="../css/top-navbar.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <h1 class = "landing_title">Project Documentation</h1>
    <h1 class = "landing_title" style="color: #87568a; ">Technologies</h1>
    <h2 style="color: #374d78; ">Development Architecture: Microservices</h2>
    <img src="../css/microservices.PNG " style="width:30%;margin-bottom:1cm;" class="center">
    <h2 style="color: #374d78">Backend: Node.js,Express.js,MongoDB</h2>
    <img src="../css/nodeexpmongo.png " style="width:30%; margin-bottom:1cm;" class="center">
    <h2 style="color: #374d78">Frontend: HTML,CSS,ejs</h2>
    <img src="../css/html_css.png " style="width:30%" class="center">
    <img src="../css/ejs.png " style="width:30%" class="center">
    <h2 style="color: #374d78">Deployment: Heroku</h2>
    <img src="../css/Herocu.png " style="width:30%" class="center">
</main>

<%- include('../includes/end.ejs') %>