<%- include('../includes/head.ejs') %>

<link rel="stylesheet" href="../css/top-navbar.css">
<link rel="stylesheet" href="../css/about_us.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <div class="about-section">
        <h1>About Us</h1>
        <p>The team consists of two students who are currently studying Electrical and Computer Engineering at National Technical University of Athens. This web application was created in terms of a project for a software engineering course named SaaS.</p>
        <p>AskMeAnything is a Q&A web application, where someone can ask anything, answer others questions and keep track of his contributions. </p>
    </div>

    <h2 style="text-align:center">Our Team</h2>


    <div class = "row">
        <div class = "column">
            <div class="card">
                <img src="../css/animal2.jpg " alt="Nafsika" style="width:30%">
                <div class="container">
                    <h2>Nafsika Abatzi</h2>
                    <p class="title">ECE Student</p>
                    <p class="title">Athens,Greece</p>
                    <p></p>
                </div>
            </div>
        </div>

       <div class="column">
            <div class="card">
                <img src="../css/animal1.jpg " alt="Frosy" style="width:30%">
                <div class="container">
                    <h2>Effrosyni  Christodoulea</h2>
                    <p class="title">ECE Student</p>
                    <p class="title">Athens,Greece</p>
                    <p></p>
                </div>
            </div>
        </div>
    <div>



</main>

<%- include('../includes/end.ejs') %>